
<form class="ui form" action="/signin" method="GET">
  <div class="field">
    <label>Author name</label>
    <input type="text" name="author" placeholder="Author name">
  </div>
  <div class="field">
    <label>password</label>
    <input type="password" name="password" placeholder="Password">
  </div>

  <button class="ui button" type="submit">Sign In</button>
</form>