
<!-- Profile edit form. -->

<div class="form__container">
  <div class="form__containerChild">
    <form class="ui form " method="POST" action="/profile/edit"
      onsubmit="return confirm('Are you sure you want to save the changes?');">
      <h2>Edit your profile</h2>

      <div class="field">
        <label for="image">Profile image</label>
        <input name="image" type="text" class="form-control" id="image" value="{{user.image}}">
      </div>

      <div class="field">
        <label for="about">About</label>
        <input name="about" type="text" class="form-control" id="about" value="{{user.about}}">
      </div>

      <button type="submit" class="ui fluid large teal  button">Save changes</button>
    </form>
  </div>
</div>