<!-- Game upload form. -->
<div class="form__container">
  <div class="form__containerChild">
    <form class="ui form " method="POST" action="/profile/upload">
      <h2>Upload a game</h2>

      <div class="field">
        <label for="title">Title</label>
        <input name="title" type="text" class="form-control" id="title" placeholder="Please enter your game title">
      </div>

      <div class="field">
        <label for="about">About</label>
        <input name="about" type="text" class="form-control" id="about"
          placeholder="Please enter your game description">
      </div>

      <div class="two fields">
        <div class="field">
          <label for="link">Game link</label>
          <input name="link" type="text" class="form-control" id="link" placeholder="Please enter your game URL">
        </div>

        <div class="field">
          <label for="image">Thumbnail</label>
          <input name="image" type="text" class="form-control" id="image"
            placeholder="Please enter your game thumbnail URL">
        </div>
      </div>

      <div class="two fields">
        <div class="field">
          <label for="width">Width</label>
          <input name="width" type="text" class="form-control" id="width" placeholder="100%">
        </div>

        <div class="field">
          <label for="height">Height</label>
          <input name="height" type="text" class="form-control" id="height" placeholder="500">
        </div>
      </div>
      <button type="submit" class="ui fluid large teal  button">Submit</button>
    </form>
  </div>
</div>