main {
  padding: 30px;
  /* display: flex;
  justify-content: space-evenly;
  align-items: center; */
}

#container-right{
  width: 150%;
}

.index-right-card{
  font-size: 14px;
}

#featured-game {
  margin-bottom: 30px;
}

