main {
  padding: 30px;
}

.myLatestUploads {
  margin-top: 30px;
}

.index-title {
  color: white;
}

.index-card {
  box-shadow: 0px 1px 2px black;
  background-color: #f5f5f5;
}

#container-right {
  width: 150%;
}

.index-right-card {
  font-size: 14px;
}

#featured-game {
  margin-bottom: 30px;
}
