/*
 * Global.
 */
body {
  min-height: 100vh;
  margin: 0;
  background-repeat: no-repeat;

  background: #141e30; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to top,
    #020000,
    #7f01bf
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to top,
    #21003d,
    black
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

nav {
  background: #141e30; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to top,
    #020000,
    #7f01bf
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to top,
    black,
    #21003d
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.myLogo {
  margin-left: 10px;
  margin-right: 20px;
}

#game-catalog-link {
  color: black;
}
