// nav color: #302836
// theme: #100B0E
// link: #FDA237

@import url("https://use.typekit.net/ygp8kyv.css");

body {
  padding: 10px 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00b7ff;
}

h1,
h2,
h3 {
  font-family: gopher, sans-serif;
  font-weight: 800;
  font-style: normal;
}

#main_logo {
  object-fit: contain;
  height: 120px;
  margin-left: 30px;
}

#layout__searchBtn {
  background-color: Transparent;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  overflow: hidden;
  outline: none;
}

//=====index styling=====//
.index__container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-left: 100px;
}

.index__gameList {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.index__ranking {
  margin: 20px 30px;
  padding: 30px;
  margin-left: 50px;
  width: 500px;
  max-width: 600px;
  border: 2px solid grey;
  box-shadow: 2px 3px 3px grey;
  border-radius: 10px;
}

.index__weekOfGames,
.index__featuredGames {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  padding: 30px;
  border: 2px solid grey;
  box-shadow: 2px 3px 3px grey;
  border-radius: 10px;
}

.index__weekOfGamesList,
.index__featuredGamesList {
  display: flex;
  flex-wrap: wrap;
  margin-left: 10px;
}

.index__featuredGames {
  align-items: center;
}

//=====Auth=====//
.auth__container,
.form__container {
  padding: 20px;
  height: 800px;
  width: 100%;
  position: relative;
}

.auth__containerChild,
.form__containerChild {
  position: absolute;
  padding: 30px;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 500px;
  height: 650px;
}

.auth__header {
  text-align: center;
}

//=====Game=====//
.game__main {
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
}

.game-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

iframe {
  margin: 20px;
}

.game__button {
  display: flex;
  justify-content: center;
}

.game__play {
  margin: 20px;
}

.playButton {
  width: 300px;
}

.game__description {
  margin: 50px;
  padding: 30px;
}

//====Profile====//
.profile__info {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 50px;
  margin-bottom: 100px;
}

.profile__text {
  margin: 30px;
  text-align: center;
}

.profile__buttons {
  display: flex;
}

.profile__button,
.profile__button__game {
  margin: 0 30px;
}

.profile__games {
  margin-bottom: 50px !important;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  border: 2px solid grey;
  box-shadow: 2px 3px 3px grey;
  border-radius: 10px;
  padding: 50px;
}

.games-list__thumbnail {
  width: 300px;
  object-fit: contain;
  box-shadow: 2px 3px 2px black;
}

.profile__gameTitle {
  text-align: center;
}

.profile__button__game {
  margin: 10px;
}

.form__button {
  margin-top: 10px;
  width: 100%;
}

#thumbnail {
  height: 200px;
}

/*
 * Search bar.
 */
.searchbar {
  margin-bottom: auto;
  margin-top: auto;
  height: 60px;
  background-color: #353b48;
  border-radius: 30px;
  padding: 10px;
}

.search_input {
  color: white;
  border: 0;
  outline: 0;
  background: none;
  width: 0;
  caret-color: transparent;
  line-height: 40px;
  transition: width 0.4s linear;
}

.searchbar:hover > .search_input {
  padding: 0 10px;
  width: 450px;
  caret-color: royalblue;
  transition: width 0.4s linear;
}

.searchbar:hover > .search_icon {
  background: white;
  color: royalblue;
}

.search_icon {
  height: 40px;
  width: 40px;
  float: right;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  color: white;
  text-decoration: none;
}
