<!-- Individual game page. -->
<div class="ui container">

    <div class="game-container">
        <!-- Game title. -->
        <div class="game-title">
            <h2>{{data.title}}</h2>
        </div>

        <!-- Game iframe. -->
        <div class="game__screen">
            <iframe width="{{data.width}}" height="{{data.height}}" style="border:none;" src="{{data.link}}"></iframe>
        </div>
        <div class="game__button">
            <button class="ui orange right floated button game__fullscreen">Play Full Screen</button>
        </div>
    </div>


    <!-- Info body. -->
    <div class="game__main">
        <div class="game__left">
            <div class="ui card">

                <!-- User picture. -->
                <div class="image">
                    <img
                        src="https://www.washingtonpost.com/wp-apps/imrs.php?src=https://arc-anglerfish-washpost-prod-washpost.s3.amazonaws.com/public/HB4AT3D3IMI6TMPTWIZ74WAR54.jpg&w=1440">
                </div>

                <!-- About user. -->
                <div class="content">
                    <a class="header" href="/user/:userid">Manish</a>
                    <div class="meta">
                        <span class="date">Created on Oct 14th 2020</span>
                    </div>

                    <div class="description">
                        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Laborum, eum dolorum. Id, vel
                        recusandae laborum mollitia quam beatae neque sed eius dolore a modi quaerat voluptate iste
                        assumenda! Esse, culpa.
                    </div>
                </div>
            </div>
        </div>

        <!-- Game information. -->
        <div class="game__right">
            <!-- Game description. -->
            <div class="game__description">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam ad laudantium molestiae, non
                    quidem
                    minus
                    quisquam beatae cupiditate fugit nostrum temporibus corrupti voluptatum fuga nemo ducimus,
                    tempore
                    dolore
                    laboriosam provident.</p>
            </div>
        </div>
    </div>


    <!-- Comments. -->
    <div class="game__play">
        <div class="ui center aligned grid">
            <p>Comments go here.</p>
        </div>
    </div>
</div>